<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.demo.dao.FormDetailsDao">
 
 <select id="getEntity" resultType="com.example.demo.entitys.FormDetails" parameterType="int">
   select form_details_id,from_details,form_name from form_details where form_details_id=#{form_id}; 
  </select>
  <!-- <select id="findAll" resultType="com.example.demo.entitys.ClounmnInfo">
   select deptno,dname,db_source from dept; 
  </select>
  <insert id="addDept" parameterType="com.example.demo.entitys.ClounmnInfo">
   INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE());
  </insert>-->
  <insert id="insertEnetity" parameterType="com.example.demo.entitys.FormDetails">
   INSERT INTO form_details(from_details,form_name) VALUES (#{from_details},#{form_name});
  </insert>
  
</mapper>
 

